<div class='card'>
  <%= image_tag(@cocktail.image_url, class: "cocktail-avatar mb-3") %>
  <h2><%= @cocktail.name %></h2>
  <div class="dose-list">
  <% @cocktail.doses.each do |dose| %>
  <li class="dose-item"><%= dose.description%> | <%= dose.ingredient.name %><%= link_to "🗑",
                  cocktail_dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
  <% end %>
  </div>
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-dark mb-3" %>
  <%= link_to "Back to all cocktails", cocktails_path, class: "btn btn-outline-light" %>
</div>
